.container {
  width: 100vw;
  height: 100vh;
  background: url("../../images/black.jpg");
  background-size: cover;
  padding-top: 200px;
}

.imgContainer {
  width: 650px;
  padding: 10px;
  margin: 0 auto;
}

img {
  height: 200px;
  width: 650px;
  background-size: cover;
}

h1 {
  color: white;
  text-emphasis: bold;
  font-size: 30px;
  text-align: center;
}
